.main-container {
  text-align: center;
}

.countdown-text,
.wish-text {
  font-size: 300%;
}

.wish-text {
  padding-left: 5%;
  padding-right: 5%;
}

.countdown-div,
.wish-div {
  margin-top: 17%;
}

.text-content {
  padding-left: 13%;
  padding-right: 13%;
  text-align: justify;
}

.image-div {
  height: 40%;
  width: 40%;
  border: 3px solid white;
  border-radius: 10%;
  margin-bottom: 4%;
}

.wish-div {
  margin-top: 5%;
}

@keyframes color-change {
  0% {
    color: rgb(231, 81, 81);
  }
  25% {
    color: rgb(231, 196, 81);
  }
  50% {
    color: rgb(64, 175, 129);
  }
  75% {
    color: rgb(231, 196, 81);
  }
  100% {
    color: rgb(228, 87, 209);
  }
}

.ahem-sec {
  font-size: 40%;
}

.rick-roll {
  background-color: rgb(221, 47, 221);
  color: white;
  padding: 0.4%;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

.rick-roll-div {
  margin-bottom: 4%;
}
